body {
  text-align: center;
}

.logo {
  max-width: 200px;
}

#searchForm {
  padding: 20px;
}

#search {
  padding: 8px 14px;
  border: 4px solid #ccc;
  font-size: 18px;
  border-radius: 40px;
  transition: all 200ms;
}

#search:focus, #search:hover {
  outline: none;
  border-color: orange;
  box-shadow: inset 0 0 8px -1px rgba(0, 0, 0, .5);
}

#searchForm button {
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
  border-radius: 2px solid #aaa;
  background-color: #eee;
  cursor: pointer;
}

#searchForm button:focus, #searchForm button:hover {
  outline: none;
  border-color: orange;
}

.find-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.find {
  display: block;
  background-color: #eee;
  margin: 20px;
  padding: 15px;
  border-left: 5px solid #555;
  text-decoration: none;
  color: #222;
  transition: all 200ms;
}

.find:hover {
  border-left-color: orange;
  box-shadow: -8px 10px 25px -10px rgba(0, 0, 0, .5);
  transform: translateX(5px) translateY(-2px);
}

.find-title {
  margin-top: 0;
}

.find-snippet {
  margin-bottom: 0;
}
